<div id="map">
</div>

<div class='close'>
    <a href='javascript:history.back()'><ion-icon name="close-circle-outline"></ion-icon></a>
</div>

<script async defer
    src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAnAG6rUvcErrpmobXaLE_rsn5bfDFhLCU&region=AU&callback=initMap'>
    </script>

<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error)

        } else {
            alert('Please enable the Geo Location function')
        }
    }

    function success(position) {
        const { latitude, longitude } = position.coords
        sessionStorage.setItem('user_lat', latitude)
        sessionStorage.setItem('user_lng', longitude)
    }

    function error(error) {
        alert(error.message)
    }

    // get user geolocation coordinates
    getLocation()

    const user_coords = { lat: parseFloat(sessionStorage.getItem('user_lat')), lng: parseFloat(sessionStorage.getItem('user_lng')) }

    {{!-- document.getElementById('user_lat').value = user_coords.lat
    document.getElementById('user_lng').value = user_coords.lng --}}
</script>

<script>
    let van_url = "https://i.ibb.co/JtC9j1H/van.png"

    let markers = {{{ marker }}}

    function initMap() {
        var options = {
            zoom: 12,
            center: { lat: -37.7963, lng: 144.9614 }
        }

        // new map 
        var map = new google.maps.Map(document.getElementById('map'), options)

        // add marker
        function addMarker(props) {
            var marker = new google.maps.Marker({
                position: props.coords,
                map: map,
            })

            // avoid undefined error
            if (props.iconImage) {
                marker.setIcon(props.iconImage)

            }

            if (props.content) {
                var infoWindow = new google.maps.InfoWindow({
                    content: props.content
                })

                marker.addListener('click', () => {
                    infoWindow.open(map, marker)
                })
            }
        }

        // display user position icon
        addMarker({ coords: user_coords, content: "You currently at HERE!", iconImage: "https://i.ibb.co/8sYjxQT/user-location-icon-1.png" })
        addMarker(markers)
    }
</script>

<script>    
    function goBack(){
        const oldURL = document.referrer;
        customerId = sessionStorage.getItem("customer_id")
        if (oldURL == `/customer/${customerId}/completedOrder`){
            window.location.href = 'javascript:history.back()'
        }else if (oldURL == `/customer/${customerId}/processingOrder`){
            window.location.href = 'javascript:history.back()'
        }else{
            window.location.href = `/customer/${customerId}/processingOrder`
        }
    }
</script>