<div class="alert">
  <div class="paragraph">
    <p>
      NEED LOGIN VERIFY
    </p>
    <p>(✖ ´ ╹ ‸ ╹ ` ✖)</p>
    <p>
      Redirect in 3s
    </p>
  </div>
</div>


<script>
    setTimeout(() => {
       window.location.replace('/customer/login');
     }, 3000)
</script>