{{!-- Replace with navigation bar later --}}
<a class="navigation-button" href="/vendor/{{van_name}}/outstanding">
    HOME
</a>

<div>
    <h1>{{van_name}} Profile</h1>
    <button>Edit Fields</button>
    <p>{{van_details}}</p>
</div>